<!DOCTYPE html>
<html th:replace="~{layout/portionHeader :: header(~{::title},~{::section})}" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>소분 글 상세 페이지</title>
</head>
<body>
<section>
  <link th:href="@{/css/portion/subdivisionDetail.css}" rel="stylesheet">
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">

  <div class="container">
    <div th:if="${subdivisionRespDto.imageFileList.size() > 0}">
      <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div th:each="imageFile, iterStat : ${subdivisionRespDto.imageFileList}"
               th:classappend="${iterStat.index == 0} ? 'active' : ''"
               class="carousel-item">
            <img th:src="@{${imageFile.storeFilename}}" class="d-block w-100" alt="Image" style="width: 1000px; height: 600px">
          </div>
        </div>
        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="image-container placeholder" th:if="${subdivisionRespDto.imageFileList.size() <= 0}">
      <img th:src="@{'https://gongsimchae-image-bucket.s3.ap-northeast-2.amazonaws.com/images/no-image.512x512.png'}" class="d-block w-100" alt="Image">
<!--      <i class="fa fa-camera"></i>-->
    </div>

    <hr class="section-divider">

    <div class="user-info-subdivision">
      <div class="user-details">
        <span class="nickname" th:text="${subdivisionRespDto.user.nickname}"></span>
<!--        <span class="address" th:text="${subdivisionRespDto.address}"></span>-->
      </div>
      <div class="manner-point">
        <label>매너 점수: </label>
        <progress max="100" th:value="${subdivisionRespDto.user.mannerPoint}" class="progress-bar"></progress>
      </div>
    </div>

    <hr class="section-divider">

    <div class="content">
      <div class="content-header">

        <h1 class="title" th:text="${subdivisionRespDto.title}"></h1>


        <!-- Ellipsis icon -->
        <div class="custom-unique">
          <i class="fa-solid fa-ellipsis-vertical" id="dropdownToggle"></i>

          <!-- Dropdown menu -->
          <div class="dropdown-content" id="dropdownMenu">
            <div class="custom-report-button">
              <button id="reportButton">신고하기</button>
            </div>
            <div th:if="${#authentication.principal.username} == ${subdivisionRespDto.user.loginId}" th:each="type : ${T(techit.gongsimchae.domain.portion.subdivision.entity.SubdivisionType).values()}">
              <form th:if="${subdivisionRespDto.subdivisionType != type}"
                    th:action="@{/portioning/{UID}/status(UID=${subdivisionRespDto.UID}, type=${type})}" method="post">

                <!-- 상태 변경 버튼 -->
                <input type="hidden" name="status" th:value="${type.name()}" />
                <button type="submit" th:text="${type.description}"></button>
              </form>
            </div>
          </div>
        </div>
        <button sec:authorize="isAnonymous()"
                id="wishlistButtonAnonymous"
                onclick="alert('로그인 후 이용해 주세요.');">
          <i id="heartIconAnonymous" class="fa fa-heart-o"></i>
        </button>
        <form sec:authorize="isAuthenticated()" th:if="${!isOwner}"
                th:action="@{/portioning/{subdivisionUID}/{action}(subdivisionUID=${subdivisionRespDto.UID}, action=${isWishListed ? 'remove' : 'add'})}"
                method="post">
          <button type="submit" id="wishlistButton">
            <i id="heartIcon" class="fa" th:classappend="${isWishListed ? 'fa-heart' : 'fa-heart-o'}"></i>
          </button>
        </form>
      </div>
      <p class="date" th:text="${subdivisionRespDto.updateDate != null ? #temporals.format(subdivisionRespDto.updateDate, 'yyyy-MM-dd') : #temporals.format(subdivisionRespDto.createDate, 'yyyy-MM-dd')}"></p>
      <p class="content-text" th:text="${subdivisionRespDto.content}"></p>
      <div class="price-box" style="position: relative">
        <div class="custom-type" th:classappend="${subdivisionRespDto.subdivisionType.name().toLowerCase()}">
          <i class="fa-solid fa-circle-exclamation" ></i>
          <span
                th:text="'['+ ${subdivisionRespDto.subdivisionType.description} +']'"></span>
        </div>

        <div>모집 인원 수</div>
        <p th:text="${subdivisionRespDto.numOfParticipants} + '명'"></p>

        <label>가격</label>
        <p th:text="${subdivisionRespDto.price} + '원'"></p>

        <label>모임 장소</label>
        <p class="address" th:text="${subdivisionRespDto.address}"></p>

        <label>모임 장소 뷰</label>
        <div id="map" style="width:200px;height:200px;"></div>
      </div>

    </div>

    <div class="footer">
      <span class="views" th:text="'조회수: ' + ${subdivisionRespDto.views}"></span>
      <div>
        <span>[[${room.userCount}]]</span> /
        <span>[[${room.maxUserCnt}]]</span>
      </div>
      <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username} == ${subdivisionRespDto.user.loginId}">
        <button class="btn btn-success" id="EnterRoom" th:data-room-id="${room.roomId}">입장하기</button>
        <button id="editButton" class="btn btn-success">수정</button>
        <button id="deleteButton" class="btn btn-danger">삭제</button>
      </div>
      <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username} != ${subdivisionRespDto.user.loginId}">
        <button class="btn btn-success" id="EnterRoom" th:data-room-id="${room.roomId}">입장하기</button>
      </div>
    </div>
  </div>

  <!-- 삭제 모달 -->
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <p>정말로 삭제하시겠습니까?</p>
      <form id="deleteForm" th:action="@{'/portioning/' + ${subdivisionRespDto.UID} + '/delete'}" method="POST" style="display: flex; justify-content: space-between;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" id="confirmDeleteButton" class="btn btn-primary">예</button>
        <button type="button" id="cancelDeleteButton" class="btn btn-secondary">아니오</button>
      </form>
    </div>
  </div>

  <!-- 모달 -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <p>해당 소분 모임에 참여하시겠습니까?</p>
      <button id="confirmButton" class="btn btn-primary">예</button>
      <button id="cancelButton" class="btn btn-secondary">아니오</button>
    </div>
  </div>

  <!-- 모달 창 추가 -->
  <div id="custom-modal-report" class="custom-modal-overlay">
    <div class="custom-modal-content">
      <span class="custom-modal-close">&times;</span>
      <h2>신고하기</h2>
      <form id="reportForm">
        <input type="hidden" id="uid" name="uid" th:value="${subdivisionRespDto.UID}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="custom-form-group">
          <label for="reportType">문의유형</label>
          <select id="reportType" name="reportType">
            <option value="">==신고유형을 선택해주세요==</option>
            <option th:each="type : ${T(techit.gongsimchae.domain.portion.report.entity.ReportType).values()}"
                    th:value="${type.name()}"
                    th:text="${type.description}"></option>
          </select>
        </div>
        <div class="custom-form-group">
          <label for="title">제목</label>
          <input type="text" id="title" name="title">
        </div>
        <div class="custom-form-group">
          <label for="content">내용</label>
          <textarea id="content" name="content" rows="6"></textarea>
        </div>
        <button type="submit" class="custom-btn custom-btn-primary">제출</button>
      </form>
    </div>
  </div>

  <script th:inline="javascript">
    // subdivisionRespDto 객체를 JavaScript에서 사용할 수 있도록 설정
    const subdivisionRespDto = {
      UID: /*[[${subdivisionRespDto.UID}]]*/,
      address: /*[[${subdivisionRespDto.address}]]*/
    };
  </script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a7673bf164245754c968e7459217a90"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script th:src="@{/js/portion/subdivisionDetail.js}"></script>
  <script>
    document.getElementById('dropdownToggle').addEventListener('click', function() {
      var menu = document.getElementById('dropdownMenu');
      menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    });
    window.addEventListener('click', function(event) {
      if (!event.target.matches('#dropdownToggle')) {
        var dropdowns = document.getElementsByClassName('dropdown-content');
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === 'block') {
            openDropdown.style.display = 'none';
          }
        }
      }
    });

    const joinButton = document.getElementById('EnterRoom');

    joinButton.addEventListener('click', (event) => {
      event.preventDefault(); // 기본 링크 동작 막기

      const roomId = event.target.getAttribute('data-room-id');
      console.log('Room ID:', roomId); // 디버깅을 위해 추가

      if (!roomId) {
        console.error('Room ID is null or undefined');
        alert('방 정보를 찾을 수 없습니다.');
        return;
      }

      fetch(`/chat/chkUserCnt/${roomId}`, {
        method: 'GET'
      })
              .then(response => {
                if (response.ok) {
                  // 사용자 수 체크 통과, 입장 허용
                  window.location.href = `/chat/room?roomId=${roomId}`;
                } else {
                  // 사용자 수 체크 실패, 입장 불가
                  alert('입장할 수 없습니다.');
                }
              })
              .catch(error => {
                console.error('Error checking user count:', error);
                alert('입장할 수 없습니다.');
              });
    });
  </script>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      // 모달 관련 요소
      var modal = document.getElementById("custom-modal-report");
      var btn = document.getElementById("reportButton");
      var span = document.getElementsByClassName("custom-modal-close")[0];
      var form = document.getElementById("reportForm");

      // CSRF 토큰
      var csrfToken = /*[[${_csrf.token}]]*/ '';
      var csrfHeader = /*[[${_csrf.headerName}]]*/ '';

      if (btn && modal && span && form) {
        // 버튼 클릭시 모달 열기
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // <span> (x) 클릭시 모달 닫기
        span.onclick = function() {
          modal.style.display = "none";
        }

        // 모달 외부 클릭시 모달 닫기
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // 폼 제출 처리
        form.onsubmit = function(e) {
          e.preventDefault();

          var formData = {
            post: document.getElementById('uid').value,
            reportType: form.querySelector('select[name="reportType"]').value,
            title: form.querySelector('input[name="title"]').value,
            content: form.querySelector('textarea[name="content"]').value
          };

          fetch("/portioning/report/write", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              [csrfHeader]: csrfToken
            },
            body: JSON.stringify(formData) // JSON 형식으로 변환하여 전송
          })
                  .then(response => {
                    if (response.ok) {
                      alert("신고가 접수되었습니다.");
                      // 폼 내용 초기화
                      form.reset();
                      // 모달 닫기
                      modal.style.display = "none";
                    } else {
                      return response.json(); // 에러 응답을 JSON으로 변환
                    }
                  })
                  .then(data => {
                    if (data) {
                      // 에러 처리
                      alert("신고가 접수되지 않았습니다.");
                      Object.keys(data).forEach(key => {
                        var input = document.getElementById(key);
                        if (input) {
                          input.classList.add('error');
                          var errorSpan = document.createElement('span');
                          errorSpan.className = 'error-message';
                          errorSpan.textContent = data[key];
                          input.parentNode.insertBefore(errorSpan, input.nextSibling);
                        }
                      });
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                    alert("신고가 접수되지 않았습니다.");
                  });
        }
      } else {
        console.error('Some elements are not found');
      }
    });
  </script>



</section>
</body>
</html>