<html th:replace="~{layout/mypage :: mypage(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 쿠폰</title>
</head>
<body>

<section class=" picklist-section">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3 section-title">
            <h1>쿠폰</h1>
            <button class="btn btn-primary" data-toggle="modal" data-target="#couponModal">+ 쿠폰 등록</button>
        </div>

        <div class="coupon-card" th:each="coupon : ${coupons}">
            <div class="coupon-title" th:text="${coupon.discount + '원 할인'}"></div>
            <div class="coupon-details">
                <div th:text="${coupon.eventName}"></div>
                <div th:text="${coupon.maxDiscount}"></div>
            </div>
            <div class="mt-3">
                <span class="coupon-expiry"
                      th:text="${#temporals.format(coupon.expirationDate, 'yyyy년 MM월 dd일 HH시까지')}"></span>
                <a href="#" class="text-link ms-3">사용조건 보기</a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="couponModalLabel">쿠폰 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="couponForm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="couponCode" placeholder="쿠폰 코드를 입력하세요">
                                <div id="error-message" class="text-danger mt-2" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="confirmButton">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
