<html th:replace="~{layout/mypage :: mypage(~{::section}, 'inquiry')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공심채</title>
</head>
<body>

<section class="picklist-section">
    <div class="container">
        <h2 class="section-title">1:1 문의</h2>
        <table class="inquiry-table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>답변상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inquiry : ${inquires}" th:data-id="${inquiry.UID}">
                <td th:text="${inquiry.title}" class="inquiry-title-cell"></td>
                <td th:text="${#temporals.format(inquiry.createDate,'yyyy.MM.dd')}"></td>
                <td th:text="${inquiry.isAnswered == 1 ? '답변완료' : '답변대기'}" th:class="${inquiry.isAnswered == 1 ? 'status-completed' : 'status-waiting'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="inquiry-button-container">
            <button class="inquiry-button" th:onclick="|location.href='@{/mypage/inquiry/form}'|">문의하기</button>
        </div>
    </div>
    <!-- 페이징 처리 -->
    <div th:if="${!inquires.isEmpty()}" class="d-flex justify-content-center bg-white py-3">
        <ul class="pagination mb-0">
            <li class="page-item" th:classappend="${inquires.number == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{|?page=${inquires.number-1}|}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, inquires.totalPages-1)}"
                th:if="${page >= inquires.number-5 and page <= inquires.number+5}"
                th:classappend="${page == inquires.number} ? 'active' : ''" class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${inquires.number == inquires.totalPages-1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{|?page=${inquires.number+1}|}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>