<html th:replace="~{layout/mypage :: mypage(~{::section}, 'inquiry')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공심채</title>
</head>
<body>

<section class="picklist-section">
    <div class="container">
        <h2 class="section-title">1:1 문의</h2>
        <table class="inquiry-table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>답변상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inquiry : ${inquires}" th:data-id="${inquiry.UID}">
                <td th:text="${inquiry.title}" class="inquiry-title-cell"></td>
                <td th:text="${#temporals.format(inquiry.createDate,'yyyy.MM.dd')}"></td>
                <td th:text="${inquiry.isAnswered == 1 ? '답변완료' : '답변대기'}" th:class="${inquiry.isAnswered == 1 ? 'status-completed' : 'status-waiting'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="inquiry-button-container">
            <button class="inquiry-button" th:onclick="|location.href='@{/mypage/inquiry/form}'|">문의하기</button>
        </div>
    </div>
</section>


</body>
</html>