<!DOCTYPE html>
<html th:replace="~{layout/mypage :: mypage(~{::section}, 'write')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내가 쓴 글</title>
</head>
<body>
<section class="picklist-section">

  <div class="container">
    <h3 class="section-title">내가 쓴 글</h3>
    <div id="wishlist-container" class="container mt-4">
      <div th:each="subdivisionItem : ${mySubdivisionRespDtoList}" class="wishlist-item row mb-4"
           th:data-url="'/portioning/' + ${subdivisionItem.UID}">
        <div class="col-md-2">
          <div class="image-container">
            <div th:if="${subdivisionItem.imageFileList.size() > 0}">
              <img th:src="${subdivisionItem.imageFileList.get(0).storeFilename}" alt="thumbnail" class="img-thumbnail">
            </div>
            <div th:if="${subdivisionItem.imageFileList.size() <= 0}" class="default-image">
              <div class="default-thumbnail">
                <img th:src="@{'https://gongsimchae-image-bucket.s3.ap-northeast-2.amazonaws.com/images/no-image.512x512.png'}" class="d-block w-100" alt="Image">
              </div>
            </div>
          </div>
        </div>
        <div class="info col-md-8">
          <h5 th:text="${subdivisionItem.title}">제목</h5>
          <p class="price" th:text="${subdivisionItem.price + '원'}">가격</p>
          <p class="details">
            <span th:text="${subdivisionItem.address}">주소</span>
            |
            <span th:text="${subdivisionItem.updateDate != null ? #temporals.format(subdivisionItem.updateDate, 'yyyy-MM-dd') : #temporals.format(subdivisionItem.createDate, 'yyyy-MM-dd')}">날짜</span>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>