<html th:replace="layout/mypage :: mypage(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주문 내역</title>
</head>
<body>
<section class="content">
    <h1>주문 내역</h1>
    <div class="order-list">
        <div class="order-item" th:each="order : ${orders}">
            <div class="order-header">
                <span class="order-date" th:text="${#temporals.format(order.createDate, 'yyyy.MM.dd')}"></span>
                <span class="order-number" th:text="'주문번호: ' + ${order.id}"></span>
            </div>
            <div class="order-content" th:each="orderItem : ${order.orderItems}">
<!--                <img th:src="${orderItem.item.imageFile.url}" alt="상품 이미지">-->
                <div class="order-details">
                    <h3 th:text="${orderItem.item.name}"></h3>
                    <p th:text="'가격: ' + ${#numbers.formatInteger(orderItem.price, 3, 'COMMA')} + '원'"></p>
                    <p th:text="'수량: ' + ${orderItem.count} + '개'"></p>
                </div>
            </div>
            <div class="order-status" th:text="${order.orderStatus}"></div>
            <a th:href="@{'/mypage/orders/' + ${order.id}}" class="detail-button">주문 내역 상세</a>
        </div>
    </div>
</section>
</body>
</html>