<nav th:fragment="product_navbar" class="navbar navbar-light bg-white" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/logo.png}" alt="공심채 로고" style="height: 30px;">
        </a>
        <div class="navbar-collapse show" id="navbarNav">
            <ul class="me-auto mb-2 mb-lg-0 d-flex align-items-center shop-division">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">공동구매</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/portioning}">소분나눔</a>
                </li>
            </ul>
            <form class="d-flex mx-auto form-style">
                <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search" style="max-width: 700px; flex-grow: 1;">
                <button class="btn btn-outline-success" type="submit">검색</button>
            </form>
            <div sec:authorize="isAnonymous()">
                <button class="btn btn-success ms-3" th:onclick="|location.href='@{/signup}'|">회원가입</button>
                <button class="btn btn-success ms-3" th:onclick="|location.href='@{/login}'|">로그인</button>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-success ms-3"><span th:text="${#authentication.principal.getNickname()}"></span> 님 </button>
                <form th:action="@{/logout}" method="post" class="d-inline" >
                    <button type="submit" class="btn btn-success ms-3">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="navbar-links nav-container mt-1 text-end">
        <a th:href="@{/myPage/interest}" class="btn btn-link nav-list-a">
            <i class="fas fa-heart"></i> 찜
        </a>
        <a th:href="@{/product/cart}" class="btn btn-link nav-list-a">
            <i class="fas fa-shopping-cart"></i> 장바구니
        </a>
        <a th:href="@{/myPage/orders}" class="btn btn-link nav-list-a">
            <i class="fas fa-user"></i> 마이페이지
        </a>
    </div>
    <div class="navbar-links nav-container mt-3 text-center">
        <a href="#" class="btn btn-link">카테고리</a>
        <div class="d-flex justify-content-center mt-2">
            <a th:href="@{/product/martket-newProduct}" class="btn btn-link nav-list-a">신상품</a>
            <a th:href="@{/product/market-best}" class="btn btn-link nav-list-a">베스트</a>
            <a th:href="@{/market-benefit}" class="btn btn-link nav-list-a">이벤트</a>
        </div>
        <div sec:authorize="hasRole('USER')">
            <a th:href="@{/inquiries}" class="btn btn-link nav-list-a">1:1 문의</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="text-end">
            <a th:href="@{/admin}" class="btn btn-link nav-list-a">관리자 페이지</a>
        </div>
    </div>
</nav>

