<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 관리</title>
</head>
<body>
<h1>이벤트 관리</h1>
<a th:href="@{/admin/event/create}" class="create-event-btn">이벤트 생성</a>

<table>
    <thead>
    <tr>
        <th>이벤트명</th>
        <th>할인금액</th>
        <th>최대할인금액</th>
        <th>만료기한</th>
        <th>쿠폰코드</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coupon : ${coupons}">

        <td th:text="${coupon.eventName}"></td>
<!--        <td><img th:src="${coupon.eventImageUrl}" alt="event image" width="100"></td>-->
        <td th:text="${coupon.discount}"></td>
        <td th:text="${coupon.maxDiscount}"></td>
        <td th:text="${#temporals.format(coupon.expirationDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${coupon.couponCode}"></td>
        <td>
            <form th:action="@{/admin/event/delete}" method="post">
                <input type="hidden" th:value="${coupon.id}" name="id"/>
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table></body>
</html>