<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 생성</title>
</head>
<body>
<h1>이벤트 생성</h1>
<form th:action="@{/admin/event/create}" th:object="${coupon}" method="post">
    <label for="eventName">이벤트 이름:</label>
    <input type="text" id="eventName" th:field="*{eventName}" required /><br/>

    <label for="discount">할인율:</label>
    <input type="number" id="discount" th:field="*{discount}" required /><br/>

    <label for="maxDiscount">최대 할인액:</label>
    <input type="number" id="maxDiscount" th:field="*{maxDiscount}" required /><br/>

    <label for="expirationDate">만료날짜:</label>
    <input type="datetime-local" id="expirationDate" th:field="*{expirationDate}" required /><br/>

    <div>
        <label for="couponCode">쿠폰 코드</label>
        <input type="text" id="couponCode" th:field="*{couponCode}" required /><br/>
    </div>

    <button type="submit">생성</button>
</form>
</body>
</html>