/* 메시지 영역의 기본 스타일 */
#messageArea {
    list-style-type: none;
    padding: 0;
}

/* 모든 메시지의 기본 스타일 */
.chat-message {
    margin-bottom: 15px;
    color: black; /* 모든 메시지의 텍스트 색상 설정 */
}
.chat-message span{
    display: inline-block;
}
/* 자신의 메시지 스타일 */
.my-message {
    text-align: right;
}

/* 이벤트 메시지 스타일 */
.event-message {
    text-align: center;
    font-style: italic;
    color: #777;
}

.event-message p {
    color: black; /* 이벤트 메시지의 텍스트 색상 설정 */
}

/* 사용자 아바타 스타일 */
.chat-message i {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-style: normal;
    margin-right: 5px;
}

/* 다른 사람의 메시지 스타일 */
.other-message {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 배치 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

.other-message span {
    font-weight: bold;
    margin-right: 5px;
}

.other-message p {
    background-color: #E0E0E0; /* 메시지 배경색을 옅은 회색으로 설정 */
    display: inline-block; /* 내용에 맞게 너비 조절 */
    padding: 10px;
    border-radius: 10px;
    color: black; /* 텍스트 색상 검정색으로 설정 */
    width: auto; /* 내용에 맞게 너비 자동 조정 */
    max-width: 70%; /* 최대 너비 설정 */
    overflow-wrap: break-word; /* 긴 단어가 줄 바꿈되도록 설정 */
    word-wrap: break-word; /* 긴 단어가 줄 바꿈되도록 설정 */
    margin: 5px 0 0; /* 여백 조정 */
}

/* 자신의 메시지 스타일 */
.my-message p {
    background-color: #FFFFE0; /* 자신의 메시지 배경색을 더 옅은 노란색으로 설정 */
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%; /* 최대 너비 설정 */
    margin: 0;
    color: black; /* 자신의 메시지 텍스트 색상도 검정색으로 설정 */
    overflow-wrap: break-word; /* 긴 단어가 줄 바꿈되도록 설정 */
    word-wrap: break-word; /* 긴 단어가 줄 바꿈되도록 설정 */
}

/* 기타 스타일 */
#menu {
    width: 310px;
}

button#uploadFile {
    margin-left: 225px;
    margin-top: -55px;
}

input {
    padding-left: 5px;
    outline: none;
    width: 250px;
    margin-top: 15px;
}

.btn.fa.fa-download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.input-group {
    width: 80.5%;
}

.chat-container {
    position: relative;
}

.chat-container .btn-group {
    position: absolute;
    bottom: -12px;
    right: -50px;
    transform: translate(-50%, -50%);
}

.message-time {
    font-size: 0.8em; /* 시간의 글씨 크기 */
    color: #888; /* 시간 텍스트 색상 */
    margin-left: 10px; /* 메시지와 시간 사이의 간격 */
}

.time-wrapper {
    display: inline;
}


