.chat-container {
    display: flex;
    flex-direction: column;
    height: 650px;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.chat-window {
    flex: 1;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

#chatInput {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

#sendButton {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #45a049;
}

.message {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.message .message-bubble {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
}

.message.user .message-bubble {
    margin-left: auto;
    background-color: #4CAF50;
    color: white;
}

.message.user .message-bubble .username {
    display: none;
}

.message .message-bubble .username {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.message .message-bubble .text {
    word-wrap: break-word;
}
