.wishlist-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
}

.wishlist-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.wishlist-item .info {
    flex: 1;
    margin-left: 15px;
}

.wishlist-item .info h5 {
    margin: 0;
    font-size: 1.25rem;
}

.wishlist-item .info .price {
    font-size: 1rem;
    color: #28a745;
}

.wishlist-item .info .details {
    font-size: 0.875rem;
    color: #888;
}

.wishlist-item .heart-icon {
    font-size: 1.5rem;
    color: #e74c3c;
}

.default-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 100%;
    padding-top: 100%; /* Maintain aspect ratio */
    position: relative;
}

.default-image i {
    font-size: 24px;
    color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img, .default-image {
    width: 100%;
    height: auto;
}

.wishlist-item {
    cursor: pointer;
}

.wishlist-item:hover {
    background-color: #f8f9fa;
}
