<html th:replace="~{layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div>
        <h3 th:text="${user.name}"></h3>
        <h3 th:text="${user.nickname}"></h3>
        <h3 th:text="${user.phoneNumber}"></h3>
        <h3 th:text="${user.email}"></h3>
        <h3 th:text="${user.loginId}"></h3>
        <h3 th:text="${user.address}"></h3>
        <h3 th:text="${user.detailAddress}"></h3>
    </div>

    <div>

    </div>

    <button th:onclick="|location.href='@{/mypage/info/update}'|">개인정보 수정</button>
</section>

</body>
</html>