<html th:replace="~{layout/productHeader :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개인정보 수정</title>
</head>
<body>
<section>

    <form th:action method="post" th:object="${user}">
        <div th:replace="~{layout/fielderror :: fielderror}"></div>

        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname"  th:field="*{nickname}" required>
            <div th:errors="*{nickname}" class="error-class"></div>
        </div>

        <div>
            <label for="email">이메일</label>
            <input type="text" id="email"  th:field="*{email}" required>
            <div th:errors="*{email}" class="error-class"></div>
        </div>

        <div>
            <label for="phoneNumber">휴대폰 번호</label>
            <input type="text" id="phoneNumber"  th:field="*{phoneNumber}" required>
            <div th:errors="*{phoneNumber}" class="error-class"></div>
        </div>

        <div>
            <label for="password">현재 비밀번호</label>
            <input type="password" id="password" th:field="*{password}" required>
            <div th:errors="*{password}" class="error-class"></div>
        </div>

        <div>
            <label for="passwordChange">새 비밀번호</label>
            <input type="password" id="passwordChange" th:field="*{passwordChange}" required>
            <div th:errors="*{passwordChange}" class="error-class"></div>
        </div>

        <div>
            <label for="passwordChangeConfirm">새 비밀번호 확인</label>
            <input type="text" id="passwordChangeConfirm" th:field="*{passwordChangeConfirm}" required>
            <div th:errors="*{passwordChangeConfirm}" class="error-class"></div>
        </div>

        <input type="submit" value="제출">
    </form>

</section>

</body>
</html>