<html th:replace="~{admin/admin :: admin(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자 수정</title>
</head>
<body>
<section class="container picklist-section admin-section-container">
    <link th:href="@{/css/admin/userUpdate.css}" rel="stylesheet">

    <div class="form-container">
        <h1 class="mb-4 section-title">유저 정보 수정</h1>
        <form th:action method="post" th:object="${user}" class="user-update-form-container">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" class="form-control" th:field="*{name}" placeholder="이름을 입력하세요" required>
                <div th:errors="*{name}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="loginId">아이디</label>
                <input type="text" id="loginId" class="form-control" th:field="*{loginId}" placeholder="아이디를 입력하세요" required>
                <div th:errors="*{loginId}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" class="form-control" th:field="*{nickname}" placeholder="닉네임을 입력하세요" required>
                <div th:errors="*{nickname}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" class="form-control" th:field="*{email}" placeholder="이메일을 입력하세요" required>
                <div th:errors="*{email}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="phoneNumber">연락처</label>
                <input type="text" id="phoneNumber" class="form-control" th:field="*{phoneNumber}" placeholder="연락처를 입력하세요" required>
                <div th:errors="*{phoneNumber}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="mannerPoint">매너 포인트</label>
                <input type="text" id="mannerPoint" class="form-control" th:field="*{mannerPoint}" placeholder="매너 포인트를 입력하세요" required>
                <div th:errors="*{mannerPoint}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="status">유저 상태</label>
                <select id="status" class="form-control" th:field="*{userStatus}">
                    <option value="">==유저 상태==</option>
                    <option th:each="status : ${T(techit.gongsimchae.domain.common.user.entity.UserStatus).values()}"
                            th:value="${status.name()}"
                            th:text="${status.description}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="role">유저 권한</label>
                <select id="role" class="form-control" th:field="*{role}">
                    <option value="">==유저 권한==</option>
                    <option th:each="role : ${T(techit.gongsimchae.domain.common.user.entity.UserRole).values()}"
                            th:value="${role.name()}"
                            th:text="${role.description}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="type">회원가입 종류</label>
                <select id="type" class="form-control" th:field="*{joinType}">
                    <option value="">==회원가입 종류==</option>
                    <option th:each="type : ${T(techit.gongsimchae.domain.common.user.entity.JoinType).values()}"
                            th:value="${type.name()}"
                            th:text="${type.description}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="sample6_postcode">우편번호</label>
                <div class="input-group">
                    <input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호" th:field="*{zipcode}">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
                    </div>
                </div>
                <div th:errors="*{zipcode}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="sample6_address">주소</label>
                <input type="text" id="sample6_address" class="form-control" placeholder="주소" th:field="*{address}">
                <input type="text" id="sample6_extraAddress" class="form-control mt-2" placeholder="참고항목" th:field="*{additionalAddress}" readonly>
                <div th:errors="*{address}" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="sample6_detailAddress">상세주소</label>
                <input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소" th:field="*{detailAddress}">
                <div th:errors="*{detailAddress}" class="text-danger mt-1"></div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">제출</button>
        </form>
    </div>
</section>

</body>
</html>