<html th:replace="~{admin/admin :: admin(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>유저</title>
</head>
<body>
<section class="container picklist-section admin-section-container">

    <div class="row user-container form-container">
        <div class="col-12">
            <h1 class="mb-4 section-title">유저 목록</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>아이디</th>
                    <th>유저상태</th>
                    <th>권한</th>
                    <th>매너포인트</th>
                    <th>유저 상태</th>
                    <th>신고 횟수</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user, userStat : ${users}">
                    <th th:text="${userStat.index + 1}"></th>
                    <td>
                        <a href="#" th:href="@{|/admin/users/${user.id}|}" th:text="${user.name}"></a>
                    </td>
                    <td th:text="${user.nickname}"></td>
                    <td th:text="${user.loginId}"></td>
                    <td th:text="${user.userStatus.name()}"></td>
                    <td th:text="${user.role.name()}"></td>
                    <td th:text="${user.mannerPoint}"></td>
                    <td th:text="${user.joinType.name()}"></td>
                    <td th:text="${user.reportCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 페이징 처리 -->
    <div th:if="${!users.isEmpty()}" class="d-flex justify-content-center bg-white py-3">
        <ul class="pagination mb-0">
            <li class="page-item" th:classappend="${users.number == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{|?page=${users.number-1}|}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, users.totalPages-1)}"
                th:if="${page >= users.number-5 and page <= users.number+5}"
                th:classappend="${page == users.number} ? 'active' : ''" class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${users.number == users.totalPages-1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{|?page=${users.number+1}|}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</section>

</body>
</html>