<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/productHeader :: header(~{::title}, ~{:: section})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>공심채 - 공동구매</title>
</head>
<body>
<section class="product-detail-section">
    <div class="product-detail-image-slider">
        <div class="main-image-container">
            <img th:src="${item[0].getImageFiles()[0].storeFilename}" alt="메인 이미지" class="main-image" id="main-image">
        </div>
        <div class="thumbnail-container">
            <div class="thumbnail" th:each="itemImage, iterStat : ${item[0].getImageFiles()}"
                 th:classappend="${iterStat.index == 0} ? 'active' : ''">
                <img th:src="${itemImage.storeFilename}" alt="상품 이미지" class="thumbnail-image"/>
            </div>
        </div>
    </div>
    <form id="addToCartForm" th:action="@{/product/cart/add}" method="post">
        <div class="product-detail-info">
            <h3 class="product-detail-title" th:text="${item[0].itemName}"></h3>

            <div class="btn-detail-container">
                <select class="form-select" id="product-options" aria-label="상품 선택">
                    <option value="" selected>상품 선택</option>
                    <option th:each="option : ${item}"
                            th:value="${option.itemOptionId}"
                            th:data-price="${option.totalPrice}"
                            th:data-discount-price="${option.discountPrice}"
                            th:data-discount-rate="${option.discountRate}"
                            th:text="${option.content + ' (' + #numbers.formatInteger(option.totalPrice, 3, 'COMMA') + '원)'}">
                    </option>
                </select>
                <div id="selected-options">
                    <!-- 선택한 옵션이 여기 표시됩니다. -->
                </div>
                <div class="total-price-container" id="total-price">
                    총 가격: 0원
                </div>
                <div class="btn-detail-row">
                    <button class="custom-btn-outline-secondary" id="wishlist-btn" type="button" th:data-item-id="${item[0].itemUID}">
                        <i id="wishlist-icon" class="bi bi-heart"></i> 찜하기
                    </button>

                    <button class="custom-btn-success"
                            id="purchase-btn"
                            type="submit"
                            th:classappend="${item[0].itemStatus.toString() == '공동구매_마감'} ? 'closed' : ''"
                            th:disabled="${item[0].itemStatus.toString() == '공동구매_마감'}"
                            th:text="${item[0].itemStatus.toString() == '공동구매_마감'} ? '마감된 상품입니다' : '장바구니에 담기'">
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
<div class="separator-detail"></div>
<section class="status-detail-container product-detail-section">
    <div class="progress">

        <!-- 프로그레스바 -->
        <div class="progress-bar bg-success"
             role="progressbar"
             th:style="${item[0].itemStatus.toString() == '공동구매_마감'} ? 'width: 100%' : 'width:' + (${completionAmountItemCntDto.completionAmountCnt} / ${item[0].quantity} * 100) + '%;'"
             th:aria-valuenow="${item[0].itemStatus.toString() == '공동구매_마감'} ? ${item[0].quantity} : ${completionAmountItemCntDto.completionAmountCnt}"
             aria-valuemin="0"
             th:aria-valuemax="${item[0].quantity}">
        </div>
    </div>
    <span>목표 수량: <span th:text="${item[0].quantity}"></span> / 달성량: <span th:text="${completionAmountItemCntDto.completionAmountCnt}"></span></span>
</section>
<section class="product-description-detail">
    <h4>상품 설명</h4>
    <div class="detail-item-images">
        <div th:each="imageFile : ${item[0].detailImageFile}">
            <img th:src="@{${imageFile.storeFilename}}" alt="상세 이미지" style="width: 800px; height: auto; max-width: 100%" />
        </div>
    </div>
</section>
<section class="reviews-detail">
    <h4>후기</h4>
    <div th:each="review : ${reviewResDtoWebList}" class="card mb-3">
        <div class="card-body">
            <div class="review-layout">
                <!-- 이미지 섹션 -->
                <div class="review-image">
                    <img th:src="@{${review.images != null ? review.images : 'https://gongsimchae-image-bucket.s3.ap-northeast-2.amazonaws.com/images/no-image.512x512.png'}}" alt="리뷰 이미지" class="review-img">
                </div>
                <!-- 리뷰 내용 섹션 -->
                <div class="review-content">
                    <h5 th:text="${review.title}" class="review-title">리뷰 제목</h5>
                    <p th:text="${review.nickname}" class="review-writer"></p>
                    <div class="review-rating">
                        <span th:each="star : ${#numbers.sequence(1, review.starPoint)}">
                            <i class="fas fa-star star-icon"></i>
                        </span>
                    </div>
                    <p th:text="${review.content}" class="review-content-class">리뷰 내용</p>
                </div>
            </div>
        </div>
    </div>

    <!-- CSRF 토큰을 메타 태그로 삽입 -->

    <script th:fragment="pick">
        document.addEventListener('DOMContentLoaded', function () {
            const wishlistBtn = document.getElementById('wishlist-btn');
            const wishlistIcon = document.getElementById('wishlist-icon');
            const itemId = wishlistBtn.getAttribute('data-item-id');

            // CSRF 토큰과 헤더 가져오기
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');


            const isAuthenticated = [[${isAuthenticated}]];


            if(isAuthenticated) {
                fetch(`/mypage/pick/check/${itemId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        [csrfHeader]: csrfToken // CSRF 토큰을 헤더에 추가
                    },
                    credentials: 'same-origin' // 쿠키를 포함하여 요청
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data === true) {
                            wishlistIcon.classList.add('bi-heart-fill'); // 속이 채워진 하트
                            wishlistIcon.classList.remove('bi-heart'); // 빈 하트 제거
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            // 찜하기 버튼 클릭 이벤트
            wishlistBtn.addEventListener('click', function () {

                if (!isAuthenticated) {
                    alert('로그인 후 찜하기를 이용할 수 있습니다.');
                    return;
                }

                fetch(`/mypage/pick/${itemId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        [csrfHeader]: csrfToken
                    },
                    credentials: 'same-origin'
                })
                    .then(response => {
                        if (response.ok) {
                            // Toggle wishlist icon
                            if (wishlistIcon.classList.contains('bi-heart')) {
                                wishlistIcon.classList.remove('bi-heart');
                                wishlistIcon.classList.add('bi-heart-fill');
                                alert('상품이 찜에 추가되었습니다.');
                            } else {
                                wishlistIcon.classList.remove('bi-heart-fill');
                                wishlistIcon.classList.add('bi-heart');
                                alert('상품이 찜에서 삭제되었습니다.')
                            }

                        } else {
                            alert('찜하기에 실패했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('찜하기 중 오류가 발생했습니다.');
                    });
            });
        });
    </script>
    <script th:src="@{/js/groupbuying/itemdetail.js}"></script>
</section>
</body>
</html>
