<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/productHeader :: header(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공심채</title>
    <link rel="stylesheet" href="/css/category.css">
</head>
<body>
<main>
    <section>
        <h1 class="category-alert" th:text="|'${keyword}' 에 대한 검색결과|">></h1>
        <div class="item-grid-view-main">
            <div class="header">
                <div class="category-alert-cnt" th:text="'총 ' + ${#lists.size(items)} + '건'"></div>
                <ul class="category-sort-standard-ul">
                    <li class="category-sort-standard-li"
                        th:each="type : ${T(techit.gongsimchae.domain.groupbuying.item.entity.SortType).values()}">
                        <!-- URL을 페이지 번호와 정렬 타입으로 동적으로 생성 -->
                        <a href="#"
                           th:href="@{/search(keyword=${keyword}, sortType=${type.getTypeNumber()})}"
                           class="category-sort-standard-alink"
                           th:text="${type.name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="main-container">
        <section class="product-section">
            <h2>인기 공동구매 상품</h2>
            <div class="product-list">
                <a th:each="item : ${items}" th:href="@{|/product/${item.id}|}" class="product-item">
                    <img class="product-image-placeholder" th:src="${item.itemBannerImage}" alt="썸네일 이미지"/>
                    <!--                    <button class="add-to-cart" th:data-item-id="${item.id}">-->
                    <!--                        <i class="fa fa-shopping-cart"></i> 장바구니에 담기-->
                    <!--                    </button>-->
                    <div class="item-simple-content">
                        <h3 class="item-name" th:text="${item.name}"></h3>
                        <div class="price-container">
                            <div class="price-progress-container">
                                <span class="original-price"
                                      th:text="${#numbers.formatDecimal(item.originalPrice, 0, 'COMMA', 0, 'POINT')} + '원'">원래 가격</span>
                                <div class="progress-container">
                                    <div class="custom-progress">
                                        <div class="custom-progress-bar" role="progressbar"
                                             th:style="'width: ' + ${(item.groupBuyingQuantity / 100.0) * 100} + '%'"
                                             th:aria-valuenow="${item.groupBuyingQuantity}"
                                             aria-valuemin="0" aria-valuemax="100">
                                            <span th:text="${item.groupBuyingQuantity + '%'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discount-info">
                                <span class="price-info">
                                    <span class="discount-rate" th:text="${item.discountRate} + '%'">할인율</span>
                                    <span class="discount-price"
                                          th:with="discountPrice=${item.originalPrice * (100 - item.discountRate) / 100}"
                                          th:text="${#numbers.formatDecimal(discountPrice, 0, 'COMMA', 0, 'POINT')} + '원'">할인 가격</span>
                                </span>
                                <span class="buying-people" th:text="${item.groupBuyingQuantity} + '명 구매중'">구매 인원</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
</main>
</body>
</html>
