.admin-container {
    display: flex !important;
    margin: 20px 0;;
    align-items: center;
    max-width: 1800px;
}

/* 사이드바 스타일 */
.sidebar {
    flex: 0 0 200px; /* 초기 너비 설정 */
    position: relative; /* 부모 요소 기준으로 배치 */
    margin-right: 20px; /* 섹션과 사이드바 간의 간격 */
    margin-left: 20px;
}

.user-info {
    width: 375px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.user-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-points-coupons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 16px;
    padding: 10px;
}

.item-wrap {
    flex: 1;
}

.menu-item {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.user-points, .user-coupons {
    font-size: 12px;
    text-align: left;
    flex: 1;
}

.amount-text {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.item-divider {
    width: 1px;
    height: 20px;
    background-color: #e2e2e2;
    margin: 0 10px;
}

.number-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 2px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.sidebar a.active {
    color: #5f0080;
    font-weight: bold;
}
.sidebar .menu {
    padding: 24px 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.sidebar .menu-text {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar .menu-text.divider {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.sidebar li:not(.menu-text) {
    padding-left: 10px;
}

/* 컨텐츠 스타일 */
.content {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.order-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0;
}

.order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
}

.order-content {
    display: flex;
    align-items: center;
}

.order-content img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.order-details h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.order-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.order-status {
    margin-left: auto;
    font-weight: bold;
    color: #5f0080;
}

.footer{
    text-align: center;
    margin: 0 auto;
}
.detail-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #5f0080;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
.detail-button:hover {
    background-color: #4a0063;
}

.admin-section-container {
    margin-right: 40px;
    justify-items: center;
}

.form-style {
    margin-bottom: 0;
}

/* 컨테이너 스타일링 */
.form-container {
    margin-top: 20px;
}

body {
    background-color: #f8f8f8;
}

/* 반응형 처리: 작은 화면에서는 사이드바와 섹션이 세로로 배치 */
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .sidebar {
        flex: 1;
        width: 100%; /* 사이드바가 전체 너비를 차지 */
        margin-right: 0;
    }

    .container {
        flex: 1;
        width: 100%; /* 섹션도 전체 너비를 차지 */
    }
}

/* 추가적인 레이아웃 조정 */
.inquiry-card {
    margin-bottom: 20px; /* 카드 간의 간격 */
}