body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8 !important;
}
.custom-container{
    background-color: white !important;
}
.container-nav{
    background-color: #ffffff;
}
nav {
    margin: 0 180px;
}

.navbar {
    background-color: #ffffff !important; /* nav 배경색 흰색으로 설정 */
    max-width: 1600px !important;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50 !important;
}

.nav-link {
    color: #4CAF50 !important;
    font-size: 16px;
}

.form-control {
    width: 100%; /* 검색창을 꽉 차게 설정 */
    max-width: 600px; /* 검색창의 최대 너비 설정 */
}

.btn-outline-success {
    color: #4CAF50;
    border-color: #4CAF50;
}

.btn-outline-success:hover {
    background-color: #4CAF50;
    color: white;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-link {
    color: #818181 !important;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}

.container {
    max-width: 1200px;
}

.navbar-collapse {
    display: flex !important; /* 항상 표시되도록 설정 */
    flex-basis: auto !important; /* 항상 표시되도록 설정 */
}

.navbar-nav {
    display: flex !important; /* 수평적으로 정렬 */
}

.navbar-links .btn-link {
    margin-right: 10px; /* 간격 조정 */
}

.navbar-links .container div {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 10px; /* 상단 마진 추가 */
}

.navbar-links .btn-link.mx-3 {
    margin-right: 20px; /* 간격 조정 */
}

.navbar-links .btn-link:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 간격 제거 */
}

.shop-division {
    list-style-type: none;
    padding-left: 0;
    padding-right: 10px;
}

.shop-division > li {
    margin: 0 15px;
}

.nav-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-list-a {
    margin-right: 3rem !important;
    margin-left: 6rem !important;
}

.form-style {
    flex-grow: 1;
    justify-content: center;
}

.navbar-links.text-end {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.navbar-links.text-end .nav-list-a {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}

.navbar-links.text-end .nav-list-a:last-child {
    margin-right: 0 !important;
}

.navbar-links.text-center .text-end .nav-list-a {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}
.text-end-admin{
    width: 400px;
    margin-left: 30px;
}

/**
카테고리 css
 */

.navbar-menu {
    color: #818181;
    position: relative;
    display: inline-block;
}

.navbar-menu:hover {
    color: #4CAF50;
}

.navbar-menu .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-menu:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(51,51,51);
    background-color: white;
}

.dropdown-item:hover {
    background-color: #d3d3d3;
    color: #4CAF50;
}

.search-btn {
    width: 60px;
}