<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/productHeader :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공심채</title>
    <link rel="stylesheet" href="/css/category.css">
</head>
<body>
<section>
    <h3 class="category-alert">채소</h3>
    <div class="item-grid-view-main">
        <div class="header">
            <div class="category-alert-cnt">508건</div>
            <ul class="category-sort-standard-ul">
                <li class="category-sort-standard-li"><a href="/categories/907?page=1&amp;per_page=96&amp;sorted_type=0" class="category-sort-standard-alink">신상품순<p class="perpendicular-divider">|</p></a></li>
                <li class="category-sort-standard-li"><a href="/categories/907?page=1&amp;per_page=96&amp;sorted_type=1" class="category-sort-standard-alink">판매량순<p class="perpendicular-divider">|</p></a></li>
                <li class="category-sort-standard-li"><a href="/categories/907?page=1&amp;per_page=96&amp;sorted_type=5" class="category-sort-standard-alink">혜택순<p class="perpendicular-divider">|</p></a></li>
                <li class="category-sort-standard-li"><a href="/categories/907?page=1&amp;per_page=96&amp;sorted_type=2" class="category-sort-standard-alink">낮은 가격순<p class="perpendicular-divider">|</p></a></li>
                <li class="category-sort-standard-li"><a href="/categories/907?page=1&amp;per_page=96&amp;sorted_type=3" class="category-sort-standard-alink">높은 가격순</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>
