<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/productHeader :: header(~{::title},~{::section})}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <title>공심채</title>
</head>
<body>
<div th:replace="~{layout/navbar :: product_navbar}"></div>
<section>
  <h1 class="category-alert" th:text="${eventName}"></h1>
  <div class="item-grid-view-main">
    <div class="header">
      <div class="category-alert-cnt" th:text="'총 ' + ${eventItems.totalElements} + '건'"></div>
      <ul class="category-sort-standard-ul">
        <li class="category-sort-standard-li"><a th:href="@{/collection-groups/event-item(eventId = ${eventId}, page=1, per_page=48, sorted_type=1)}" class="category-sort-standard-alink">신상품순<p class="perpendicular-divider">|</p></a></li>
        <li class="category-sort-standard-li"><a th:href="@{/collection-groups/event-item(eventId = ${eventId}, page=1, per_page=48, sorted_type=2)}"  class="category-sort-standard-alink">판매량순<p class="perpendicular-divider">|</p></a></li>
        <li class="category-sort-standard-li"><a th:href="@{/collection-groups/event-item(eventId = ${eventId}, page=1, per_page=48, sorted_type=3)}"  class="category-sort-standard-alink">리뷰 많은 순<p class="perpendicular-divider">|</p></a></li>
        <li class="category-sort-standard-li"><a th:href="@{/collection-groups/event-item(eventId = ${eventId}, page=1, per_page=48, sorted_type=4)}"  class="category-sort-standard-alink">낮은 가격순<p class="perpendicular-divider">|</p></a></li>
        <li class="category-sort-standard-li"><a th:href="@{/collection-groups/event-item(eventId = ${eventId}, page=1, per_page=48, sorted_type=5)}"  class="category-sort-standard-alink">높은 가격순</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="product-section">
  <div class="product-list">
    <div th:each="item : ${eventItems}" class="product-item">
      <img class="product-image-placeholder" th:src="${item.itemBannerImage}" alt="썸네일 이미지" />
      <!--            <button class="add-to-cart" th:data-item-id="${item.id}">-->
      <!--                <i class="fa fa-shopping-cart"></i> 장바구니에 담기-->
      <!--            </button>-->
      <h3 class="item-name" ><a href="" th:href="@{|/product/${item.id}|}" th:text="${item.name}"></a></h3>
      <div class="price-container">
        <div class="price-progress-container">
          <span class="original-price" th:text="${#numbers.formatDecimal(item.originalPrice, 0, 'COMMA', 0, 'POINT')} + '원'">원래 가격</span>
          <div class="progress-container">
            <div class="custom-progress">
              <div th:replace="~{home :: progressbar}" class="custom-progress-bar" role="progressbar"
                   th:style="'width: ' + ${(item.groupBuyingQuantity / 100.0) * 100} + '%'"
                   th:aria-valuenow="${item.groupBuyingQuantity}"
                   aria-valuemin="0" aria-valuemax="100">
                <span th:text="${item.groupBuyingQuantity + '%'}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="discount-container">
          <span class="discount-rate" th:text="${item.discountRate} + '%'">할인율</span>
          <span class="discount-price"
                th:with="discountPrice=${item.originalPrice * (100 - item.discountRate) / 100}"
                th:text="${#numbers.formatDecimal(discountPrice, 0, 'COMMA', 0, 'POINT')} + '원'">할인 가격</span>
          <span class="buying-people" th:text="${item.participateCount} + '명 구매중'">구매 인원</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 페이징 처리 -->
  <div th:if="${!eventItems.isEmpty()}" class="d-flex justify-content-center bg-white py-3">
    <ul class="pagination mb-0">
      <li class="page-item" th:classappend="${eventItems.number == 0} ? 'disabled' : ''">
        <a class="page-link" th:href="@{|?page=${eventItems.number-1}|}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li th:each="page : ${#numbers.sequence(0, eventItems.totalPages-1)}"
          th:if="${page >= eventItems.number-5 and page <= eventItems.number+5}"
          th:classappend="${page == eventItems.number} ? 'active' : ''" class="page-item">
        <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page+1}|}"></a>
      </li>
      <li class="page-item" th:classappend="${eventItems.number == eventItems.totalPages-1} ? 'disabled' : ''">
        <a class="page-link" th:href="@{|?page=${eventItems.number+1}|}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</section>
</body>
</html>