<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/productHeader :: header(~{::title}, ~{::main})}">
<head>
    <title>공심채 - 공동구매</title>
</head>
<body>


<main>
    <section class="banner">
        <h1>공동구매로 더 저렴하게!</h1>
    </section>
    <div class="main-container">
        <section class="product-section">
            <h2>인기 공동구매 상품</h2>
            <div class="product-list">
                <div th:each="item : ${popularItems}" class="product-item">
                    <img class="product-image-placeholder" th:src="${item.itemBannerImage}" alt="썸네일 이미지" />
<!--                    <button class="add-to-cart" th:data-item-id="${item.id}">-->
<!--                        <i class="fa fa-shopping-cart"></i> 장바구니에 담기-->
<!--                    </button>-->
                    <h3 class="item-name" ><a href="" th:href="@{|/product/${item.id}|}" th:text="${item.name}"></a></h3>
                    <div class="price-container">
                        <div class="price-progress-container">
                            <span class="original-price" th:text="${#numbers.formatDecimal(item.originalPrice, 0, 'COMMA', 0, 'POINT')} + '원'">원래 가격</span>
                            <div class="progress-container">
                                <div class="custom-progress">
                                    <div class="custom-progress-bar" role="progressbar"
                                         th:style="'width: ' + ${(item.groupBuyingQuantity / 100.0) * 100} + '%'"
                                         th:aria-valuenow="${item.groupBuyingQuantity}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span th:text="${item.groupBuyingQuantity + '%'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="discount-info">
                            <span class="discount-rate" th:text="${item.discountRate} + '%'">할인율</span>
                            <span class="discount-price"
                                  th:with="discountPrice=${item.originalPrice * (100 - item.discountRate) / 100}"
                                  th:text="${#numbers.formatDecimal(discountPrice, 0, 'COMMA', 0, 'POINT')} + '원'">할인 가격</span>
                            <span class="buying-people" th:text="${item.groupBuyingQuantity} + '명 구매중'">구매 인원</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-section">
            <h2>신규 공동구매 상품</h2>
            <div class="product-list">
                <div th:each="item : ${recentItems}" class="product-item">
                    <img class="product-image-placeholder" th:src="${item.itemBannerImage}" alt="썸네일 이미지" />
<!--                    <button class="add-to-cart" th:data-item-id="${item.id}">-->
<!--                        <i class="fa fa-shopping-cart"></i> 장바구니에 담기-->
<!--                    </button>-->
                    <div class="product-name">
                        <h3 class="item-name" ><a href="" th:href="@{|/product/${item.id}|}" th:text="${item.name}"></a></h3>
                    </div>
                    <div class="price-container">
                        <div class="price-progress-container">
                            <span class="original-price" th:text="${#numbers.formatDecimal(item.originalPrice, 0, 'COMMA', 0, 'POINT')} + '원'">원래 가격</span>
                            <div class="progress-container">
                                <div class="custom-progress">
                                    <div class="custom-progress-bar" role="progressbar"
                                         th:style="'width: ' + ${(item.groupBuyingQuantity / 100.0) * 100} + '%'"
                                         th:aria-valuenow="${item.groupBuyingQuantity}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span th:text="${item.groupBuyingQuantity + '%'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="discount-info">
                            <span class="discount-rate" th:text="${item.discountRate} + '%'">할인율</span>
                            <span class="discount-price"
                                  th:with="discountPrice=${item.originalPrice * (100 - item.discountRate) / 100}"
                                  th:text="${#numbers.formatDecimal(discountPrice, 0, 'COMMA', 0, 'POINT')} + '원'">할인 가격</span>
                            <span class="buying-people" th:text="${item.groupBuyingQuantity} + '명 구매중'">구매 인원</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 공심채. All rights reserved.</p>
    </footer>
</main>

</body>
</html>