<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f87234e8635a427cd0f2a6dcdf8b0597&libraries=services"></script>

</head>
<body>
테스트
<div sec:authorize="isAuthenticated()">
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">로그아웃</a>
</div>

<form th:action="@{/signup}" method="post">
    <input type="text" id="sample5_zipcode" placeholder="우편번호" name="zipcode">
    <input type="button" onclick="sample5_execDaumPostcode()" value="우편번호 찾기"><br>
    <input type="text" id="sample5_address" placeholder="주소" name="address"> <br>
    <input type="text"id="sample5_detailAddress"  placeholder="상세주소" name="detailAddress">
    <input type="submit" value="제출">

</form>

<div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>


<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var zipcode = data.zonecode; // 우편번호
                var address = data.address;

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_zipcode").value = zipcode;
                document.getElementById("sample5_address").value = address;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>
</body>
</html>