<html th:replace="~{layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>

    <form th:action="@{/find/id}" method="post" th:object="${user}">
        <div th:replace="~{layout/fielderror :: fielderror}"></div>

        <div>
            <label for="name">이름</label>
            <input type="text" id="name"  th:field="*{name}" required>
            <div th:errors="*{name}" class="error-class"></div>
        </div>

        <div>
            <label for="email">이메일</label>
            <input type="text" id="email"  th:field="*{email}" required>
            <div th:errors="*{email}" class="error-class"></div>
        </div>


        <input type="submit" value="제출">
    </form>

</section>

</body>
</html>