<!DOCTYPE html>
<html th:replace="~{admin/admin :: admin(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>상품 생성</title>
</head>
<body>
<section class="container picklist-section admin-section-container">
    <link th:href="@{/css/admin/createItemForm.css}" rel="stylesheet">

    <div class="form-container">
        <h1 class="mb-4 section-title">상품 생성</h1>
        <form th:action="@{/admin/item/create}" th:object="${item}" method="post" enctype="multipart/form-data" class="needs-validation input-form-container" onsubmit="beforeSubmit()" novalidate>

            <div class="form-group" style="width: 600px">
                <label for="images" class="form-label">이미지 파일들</label>
                <div class="custom-file-upload" onclick="triggerFileInput()"> <!-- 이미지 업로드 박스 전체 클릭 이벤트 추가 -->
                    <input type="file" class="form-control-file" id="images" name="images" multiple onchange="previewImages(event)" style="display: none;" />
                    <i class="fas fa-plus"></i> <!-- + 아이콘만 남겨둠 -->
                </div>
                <div id="image-preview-container" class="image-preview-container"></div>
            </div>

            <div class="form-group">
                <label for="name" class="form-label">상품 이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                <div class="invalid-feedback">
                    상품 이름을 입력해주세요.
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">상품 옵션</label>
                <div class="input-option-group">
                    <div class="input-option">
                        <input type="text" class="form-control" id="optionContent" placeholder="옵션명" aria-label="옵션명">
                        <input type="number" class="form-control" id="optionPrice" placeholder="가격" aria-label="가격" step="0.01">
                    </div>
                    <div class="add-option">
                        <button class="custom-btn-outline custom-btn-add-option" type="button" onclick="addOptionField()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div id="added-options">
                    <!-- 옵션이 동적으로 추가되는 영역 -->
                </div>
            </div>

            <div class="form-group">
                <label for="intro" class="form-label">소개</label>
                <input type="text" class="form-control" id="intro" th:field="*{intro}"/>
            </div>

            <div class="form-group">
                <label for="originalPrice" class="form-label">정가</label>
                <input type="number" class="form-control" id="originalPrice" th:field="*{originalPrice}" step="0.01" required/>
                <div class="invalid-feedback">
                    정가를 입력해주세요.
                </div>
            </div>

            <div class="form-group">
                <label for="discountRate" class="form-label">할인율</label>
                <input type="number" class="form-control" id="discountRate" th:field="*{discountRate}" step="0.01" required/>
                <div class="invalid-feedback">
                    할인율을 입력해주세요.
                </div>
            </div>

            <div class="form-group">
                <label for="pointAccumulationRate" class="form-label">포인트 적립률</label>
                <input type="number" class="form-control" id="pointAccumulationRate" th:field="*{pointAccumulationRate}" step="0.01" required/>
                <div class="invalid-feedback">
                    포인트 적립률을 입력해주세요.
                </div>
            </div>

            <div class="form-group">
                <label for="groupBuyingQuantity" class="form-label">공동구매 수량</label>
                <input type="number" class="form-control" id="groupBuyingQuantity" th:field="*{groupBuyingQuantity}" required/>
                <div class="invalid-feedback">
                    공동구매 수량을 입력해주세요.
                </div>
            </div>

            <div class="form-group">
                <label for="groupBuyingLimitTime" class="form-label">공동구매 제한 시간</label>
                <input type="datetime-local" class="form-control" id="groupBuyingLimitTime" th:field="*{groupBuyingLimitTime}"/>
            </div>

            <div class="form-group">
                <label for="categoryName" class="form-label">카테고리</label>
                <select id="categoryName" name="categoryName" class="form-control" required>
                    <option value="">선택해주세요</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.name}"
                            th:text="${category.name}">
                    </option>
                </select>
                <div class="invalid-feedback">
                    카테고리를 선택해주세요.
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-point-color float-right" style="color: #ffffff">생성</button>
            </div>
        </form>
    </div>

    <script src="/js/admin/createItemForm.js"></script>
</section>
</body>
</html>
