<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
</head>
<body>

<h1>상품 관리</h1>
<a th:href="@{/admin/item/create}" class="create-item-btn">상품 생성</a>

<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>소개</th>
        <th>정가</th>
        <th>할인율</th>
        <th>포인트 적립률</th>
        <th>공동구매 수량</th>
        <th>공동구매 제한 시간</th>
        <th>등록일자</th>
        <th>카테고리</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.intro}"></td>
        <td th:text="${item.originalPrice}"></td>
        <td th:text="${item.discountRate}"></td>
        <td th:text="${item.pointAccumulationRate}"></td>
        <td th:text="${item.groupBuyingQuantity}"></td>
        <td th:text="${item.groupBuyingLimitTime}"></td>
        <td th:text="${item.createDate}"></td>
        <td th:text="${item.category.name}"></td>
        <td>
            <a th:href="@{/admin/item/update/{id}(id=${item.id})}">수정</a>
        </td>
        <td>
            <form th:action="@{/admin/item/delete}" method="post">
                <input type="hidden" th:value="${item.id}" name="id"/>
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>